@media screen and (min-width: 32.5em) {
    header {
        padding: 1rem 2rem;
        justify-content: space-between; 
    }

    .hamburger {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    nav li {
        border: none;
    }

    nav a {
        padding: 1rem 1.5rem;
    }

    main {
        justify-content: center;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}